.cart {
    &__header {
        background-color: $product-bcgnd-color;

        &--flex {
            @include flex(space-between, center);

            h1 {
                @include text-decor(400, 24px, 29px, #F16D7F);
                padding: 60px 0;
            }
        }
    }

    &__main {
        padding: 40px 0;

        &--flex {
            display: flex;
            justify-content: center;
            //justify-content: space-between;
            flex-wrap: wrap;

            .cart__items-btns {
                margin: 20px 0;
                display: flex;
                justify-content: space-between;

                & button {
                    background: $product-bcgnd-color;
                    border: 1px solid rgba(51, 46, 46, 0.438);
                    box-sizing: border-box;
                    padding: 16px 40px;
                    @include text-decor(400, 14px, 17px, black);

                    &:hover {
                        border: 1px solid $hover-color;
                        background: $hover-color;
                        @include text-decor(400, 14px, 17px, white);
                    }
                }
            }

            .cart__items {
                width: 70%;

                &--flex {
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                }
            }

            // .shopform {
            //     width: 35%;
            //     height: fit-content;
            //     padding: 15px;
            //     background-color: $product-bcgnd-color;
            //     border: 1px solid rgba(0, 0, 0, 0.13);
            //     box-shadow: 15px 17px 20px rgba(0, 0, 0, 0.13);

            //     &--flex {
            //         display: flex;
            //         flex-direction: column;

            //         h2 {
            //             @include text-decor(400, 22px, 27px, #22222E);
            //             margin-bottom: 15px;
            //             text-align: center;
            //         }

            //         form {
            //             .shopform__item {
            //                 display: flex;
            //                 flex-direction: column;
            //                 justify-content: flex-start;

            //                 h3 {
            //                     @include text-decor(400, 17px, 22px, #22222E);
            //                     margin-bottom: 12px;
            //                 }

            //                 input {
            //                     max-width: 360px;
            //                     min-height: 38px;
            //                     box-sizing: border-box;
            //                     padding: 13px 0 16px 17px;

            //                     &:not(:last-child) {
            //                         margin-bottom: 8px;
            //                     }
            //                 }

            //                 &:not(:first-child) {
            //                     margin-top: 12px;
            //                 }
            //             }

            //             .buy-btn {
            //                 margin-top: 15px;
            //                 display: flex;
            //                 justify-content: center;

            //                 & button {
            //                     background: $hover-color;
            //                     border: 1px solid #F16D7F;
            //                     box-sizing: border-box;
            //                     padding: 16px 40px;
            //                     @include text-decor(400, 14px, 17px, white);
            //                 }
            //             }
            //         }
            //     }
            // }
        }
    }
}