$container-max-width: 1160px;

$header-bcgnd-color: #222222;
$promo-bcgnd-color: #F1E4E6;
$product-bcgnd-color: #F8F8F8;
$service-bcgnd-color: #222224;
$footer__bottom-bcgnd-color: #222224;
$price-color: #F16D7F;
$span-color: #F16D7F;
$hover-color: #F16D7F;